## Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto

### 1- Scrape Data

In [24]:
#Import pandas library
import pandas as pd

#By just giving a URL as a parameter for the function "read_html" of pandas, we can get all the tables on that particular website.
URL = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
tables = pd.read_html(URL)

#We select the table that we are interested to study
df_can = tables[0]
df_can

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

In [25]:
#shape of the dataframe
df_can.shape

(180, 3)

In [26]:
#Ignore cells with a borough that is Not assigned.
df_can = df_can[df_can.Borough != 'Not assigned']
df_can

,Postal Code,Borough,Neighbourhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [27]:
#Shape after the elimination of "Not assigned" rows
df_can.shape

(103, 3)

### 2-Add to the dataframe Long and Alt

In [28]:
#Read csv file that has the geographical coordinates of each postal code
dfcan_longlat = pd.read_csv("http://cocl.us/Geospatial_data")
dfcan_longlat

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [29]:
#Drop the Postal Code of the dfcan_longlat dataframe
dfcan_longlat.drop(dfcan_longlat[["Postal Code"]],axis=1,inplace=True)

#Sort the df_can dataframe in order to be sorted as the dfcan_longlat dataframe
df=df_can.sort_values(by=['Postal Code'],ignore_index=True)

#We concate the two dataframes in order to create the final dataframe
dfcan_final=pd.concat([df,dfcan_longlat], axis=1)
dfcan_final

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
102,M9W,Etobicoke,"Northwest, West Humber - Clairville",43.706748,-79.594054